# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# User-specific files for Visual Studio Code for Mac
.vscode/

# User-specific files for Visual Studio for Windows
.vs/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files for AppV
*.appv

# Windows Installer files for ClickOnce
Publish/

# Ignore folders for build output
bin/
obj/
